<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ error.status }}: {{ message }}</title>
    </head>
    <body>
        {{ message }}
        {{ error.status }}
        {{ error.stack }}
    </body>
</html>
